---
layout: default
title: page.title
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: site.dateformat }} tarihinde yayınlandı.</p>
  </header>

  <div>
    {% if page.due_event %}
    <span style="font-weight: bold">Son Tarih: {{ page.due | date: site.dateformat }} {{ page.due_event.date | date: "%H:%M" }}</span>
    {% endif %}
      {% if page.pdf %}
      [<a href="{{ page.pdf | prepend: site.baseurl }}">Quizi başlatmak için tıklayın</a>]
      {% endif %}
      {% if page.attachment %}
      [<a href="{{ page.attachment | prepend: site.baseurl }}">ödev</a>]
      {% endif %}
      {% if page.solutions %}
      [<a href="{{ page.solutions | prepend: site.baseurl }}">çözüm</a>]
      {% endif %}
    </p>

    <div style="color: gray;">
      <h3>Teslim Şartları</h3>
      {% include late_policy.html %}
    </div>
  </div>

  <br />
  <article class="post-content">
    {{ content }}
  </article>

</div>
